<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
    <main class="container mt-5">
        <h1 class="mb-4">Latest Facts</h1>
        <%- include('../partials/posts', { feed: feed }) %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>
